*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
    
}
#logodesign{
    position: absolute;
    left: 300px;
    top: 200px;
    width: 200px;
    height: 200px;
    border: white 4px solid;
    transform: rotateZ(45deg);
    color: blueviolet;
    font-weight: 900;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 6em;
    font-family: cursive;
    text-shadow:5px 5px 10px blueviolet;
    animation: intro 5s;
}
#logodesign::after{
    content: '';
    top: -13px;
    left: -13px;
    position: absolute;
    width: 190px;
    height: 190px;
    border: #fff 4px solid;
}
#logodesign::before{
    content: '';
    top: -25px;
    left: -25px;
    position: absolute;
    width: 194px;
    height: 194px;
    border: #fff 4px solid;
}

#logotext{
    position: absolute;
    left: 600px;
    top: 200px;
    font-size: 10em;
    font-weight: 1500;
    font-family: cursive;
    color: cyan;
    line-height: 50%;
    animation: intro 8s;
}
#logotext span{
    color: blueviolet;
    text-shadow: 6px 6px 15px blueviolet;
}





@media (min-width:800px) and (max-width:1000px){
    #logodesign{
        transform: scale(0.8) rotateZ(45deg);
        left: 120px;
    }
    #logotext{
        transform: scale(0.8);
        left: 370px;
    }
}
@media (min-width:650px) and (max-width:799px){
    #logodesign{
        transform: scale(0.6) rotateZ(45deg);
        left: 80px;
    }
    #logotext{
        transform: scale(0.7);
        left: 250px;
    }
}
@media (min-width:400px) and (max-width:649px){
    #logodesign{
        transform: scale(0.5) rotateZ(45deg);
        left: 10px;
    }
    #logotext{
        transform: scale(0.5);
        left: 170px;
    }
}
@media (max-width:399px){
    #logodesign{
        transform: scale(0.4) rotateZ(45deg);
        left: -20px;
    }
    #logotext{
        transform: scale(0.4);
        left: 90px;
    }
}


@keyframes intro{
    0%{
        opacity: 0;
    }
}
/* .bubble{
    width: 100%;
}

.bubbleimg{
    width: 50px;
    animation: bubbleanimate 7s linear infinite;
    opacity: 0;
    position: absolute;
    left: 40%;
    bottom: 0;
}
.bubbleimg:nth-child(1){
    animation-delay: 2s;
    width: 90px;
}
.bubbleimg:nth-child(2){
    animation-delay: 4s;
    width: 120px;
    left: 50%;

}
.bubbleimg:nth-child(3){
    animation-delay: 6s;
    width: 65px;
    left: 30%;
}
.bubbleimg:nth-child(4){
    animation-delay: 10s;
    width: 100px;
    left: 20%;
}
.bubbleimg:nth-child(5){
    animation-delay: 5s;
    width: 80px;
    left: 45%;
}
.bubbleimg:nth-child(6){
    animation-delay: 0s;
    width: 55px;
    left: 50%;
}
.bubbleimg:nth-child(7){
    animation-delay: 5s;
    width: 75px;
    left: 30%;
}

@keyframes bubbleanimate{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }

} */

#about{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    position: absolute;
    top: 80vh;
    font-size: 2em;
    font-family: cursive;
}

@keyframes about{
    0%{
        width: 0%;
    }
}
#sidebar i{
    font-size: 2em;
    padding: 3px;
    border-radius: 50%;
    box-shadow: #fff 0px 0px 10px;
    cursor: pointer;
}
.lable{
    display: none;
    position: absolute;
    right: 10px;
}
#sidebar i:hover{
    transform: scale(1.2);
}
@media (min-width:550px){
#sidebar{
    float: right;
    position: relative;
    width: 100px;
    height: 100vh;
    background-color: #000;
    /* border-left: #fff 2px solid; */
    text-align: center;
}
.lable{
    top: 30px;
}
#sidebar li{
   display: block;
   align-items: center;
   line-height: 600%;
   position: relative;
}

}
@media (max-width:549px){
    #sidebar{
        width: 100%;
        height: 100px;
        background-color: #000;
        /* border-bottom: #fff 2px solid; */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .lable{
        top: 40px;
    }
    #sidebar ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #sidebar li{
        display: inline;
        position: relative;
     }

}