*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(55, 52, 52);
    position: relative;
    
}
#logodesign{
    position: absolute;
    left: 300px;
    top: 40vh;
    width: 200px;
    height: 200px;
    border: white 4px solid;
    transform: rotateZ(45deg);
    color: blueviolet;
    font-weight: 900;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 6em;
    font-family: cursive;
    text-shadow:5px 5px 10px blueviolet;
    animation: intro 5s;
}
#logodesign::after{
    content: '';
    top: -13px;
    left: -13px;
    position: absolute;
    width: 190px;
    height: 190px;
    border: #fff 4px solid;
}
#logodesign::before{
    content: '';
    top: -25px;
    left: -25px;
    position: absolute;
    width: 194px;
    height: 194px;
    border: #fff 4px solid;
}

#logotext{
    position: absolute;
    left: 600px;
    top: 40vh;
    font-size: 10em;
    font-weight: 1500;
    font-family: fantasy;
    color: cyan;
    line-height: 50%;
}
#logotext span{
    color: blueviolet;
    text-shadow: 6px 6px 15px blueviolet;
}





@media (min-width:800px) and (max-width:1000px){
    #logodesign{
        transform: scale(0.8) rotateZ(45deg);
        left: 120px;
    }
    #logotext{
        transform: scale(0.8);
        left: 370px;
    }
}
@media (min-width:650px) and (max-width:799px){
    #logodesign{
        transform: scale(0.6) rotateZ(45deg);
        left: 80px;
    }
    #logotext{
        transform: scale(0.7);
        left: 250px;
    }
}
@media (min-width:400px) and (max-width:649px){
    #logodesign{
        transform: scale(0.5) rotateZ(45deg);
        left: 5px;
    }
    #logotext{
        transform: scale(0.5);
        left: 80px;
    }
}
@media (max-width:399px){
    #logodesign{
        transform: scale(0.4) rotateZ(45deg);
        left: -20px;
    }
    #logotext{
        transform: scale(0.4);
        left: 50px;
    }
}


@keyframes intro{
    0%{
        top: 700px;
    }
}
