*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body>ul li{
    margin: 0.3px;
    width: 1.5px;
    margin: 0.5px;
    background-color:lightgreen;
    display: inline-block;
    /* transition: 0.1s; */
}
#element_0{
    height: 200px;
    margin: 0.5px;
}

button{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}